/* remove browser margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* header style - logo */
.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-logo {
    width: 100px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}

.header-option-basket img {
    height: 35px;
    }

.header-option-basket {
    display: flex;
    align-items: center;
    }

.header-basket-count {
    margin-left: 10px;
    margin-right: 10px;
}
    
.header-navbar {
    display: flex;
    justify-content: space-evenly;
}
.header-option {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-optionlineone {
    font-size: 10px;
}

.header-optionlinetwo {
    font-size: 13px;
    font-weight: 800;
}

.header-link {
    text-decoration: none;
    color: white;
}

/* search icon */
.search-icon {
    background: orange;
    height: 35px !important;
}

.header-search {
    display: flex;
    flex: 1;
}

.header-searchbox {
    height: 12;
    padding: 8px;
    border: none;
    width: 100%;
}
